@media (max-width: 400px) {
    #container .raykiri-profile-card .support-server-ru,
    #container .raykiri-profile-card .support-server-en {
        left: 100px;
        top: -60px;
    }

    #container .raykiri-profile-card .add-ru,
    #container .raykiri-profile-card .add-en {
        left: 100px;
    }

    #container .raykiri-profile-card {
        width: 350px;
    }

    #container .site-lang {
        display: none;
    }

    #container .site-lang-for-mobile {
        display: inline;
    }

    #container .navbar {
        display: none;
    }

    #container .navbar-mobile {
        display: inherit;
    }
}