.q {
    background-color: #0Adcc5;
    padding: 3px;
    border-radius: 5px;
    color: rgb(87, 87, 87);
}

.root > table {
    font-family: system-ui;
    color: white;
    width: 100%;
    border-spacing: 10px;
}

.root > table > tbody > tr > th,
.root > table > tbody > tr > td {
    text-align: center;
    width: 100px;
    height: 35px;
}

.root > table > tbody > tr {
    background-color: #36393f;
}