.container .block {
    color: white;
    font-family: system-ui;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.container .pm {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.container .pm .card {
    background-color: white;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.container .pm .qiwi img {
    height: 200px;
    width: 350px;
}

.container .pm .patreon img {
    height: 190px;
    width: 340px;
    margin: 5px;
}