body {
    font-family: 'Roboto', sans-serif;
}

.container .raykiri-profile-card {
    width: 500px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.container .raykiri-profile-card .raykiri-icon-wrapper {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.container .raykiri-profile-card .raykiri-icon {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.container .raykiri-profile-card .raykiri-name {
    color: white;
    font-size: 100px;
    height: 130px;
    width: 297px;
    margin-left: auto;
    margin-right: auto;
}

.container .raykiri-description {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
    margin-top: 15%;
}

.container .raykiri-description p .a {
    font-weight: 800;
}

.container .raykiri-description p .b {
    opacity: 0.5;
}

.container .raykiri-description p {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#container .raykiri-profile-card .support-server {
    border-color: #0Adcc5;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    color: white;
    width: 150px; 
    height: 35px; 
    border-radius: 15px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
} 

#container .raykiri-profile-card .support-server:hover {
    background-color: #0Adcc5;
} 

#container .raykiri-profile-card .support-server:active {
    background-color: blue;
}

#container .raykiri-profile-card .add {
    border-color: #0Adcc5;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    color: white;
    width: 150px; 
    height: 35px; 
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
    display: block;
} 

#container .raykiri-profile-card .add-ru:hover,
#container .raykiri-profile-card .add-en:hover {
    background-color: #0Adcc5;
} 

#container .raykiri-profile-card .add:active {
    background-color: blue;
}

#container .site-lang {
    width: 50px;
    height: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#container .site-lang img {
    width: 50px;
    cursor: pointer;
}

#container .site-lang .close {
    position: relative;
    cursor: pointer;
}

#container .site-lang .content {
    margin-left: 50px;
    color: white;
    overflow: hidden;
}

#container .site-lang .content .ru {
    color: white;
    cursor: pointer;
}

#container .site-lang .content .en {
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: silver;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(41, 40, 40);
}

#container .site-lang-for-mobile {
    width: 50px;
    height: 100px;
    background-color: rgb(62, 62, 238);
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    left: 0px;
    display: none;
}

#container .site-lang-for-mobile .ru {
    color: white;
    width: 40px;
    position: relative;
    top: -15px;
    cursor: pointer;
}

#container .site-lang-for-mobile .en {
    color: white;
    position: relative;
    width: 40px;
    top: -25px;
    cursor: pointer;
}

#container .navpanel {
    width: 100%;
    text-align: center;
}

#container .navpanelBtn {
    width: 150px;
    height: 35px;
    margin-top: 5%;
    border-color: #0Adcc5;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    color: white;
    border-radius: 15px; 
    cursor: pointer;
}

#container .navpanelBtn:hover {
    background-color: #0Adcc5;
}